<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.claudius.cardash"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />

    <!-- Android 11+ hides the installed-app list unless we declare this.
         A launcher is exactly the case QUERY_ALL_PACKAGES exists for. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- OBD-II dongles are Bluetooth serial. Body-CAN data instead
         arrives as broadcasts from the head unit's vendor car service,
         which needs no permission. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/DashTheme"
        android:allowBackup="true"
        android:hardwareAccelerated="true">

        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AppListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:exported="false" />
    </application>
</manifest>
